<html>
  <head>
    <title>Send Welcome</title>
  </head>
  <body>
    <div>
      <h1>¿Has olvidado tu contraseña?</h1>
      <br />
      <h3>No te preocupes, estamos aquí para ayudarte.</h3>
      <p><b>Tu pin es: {{pin}}</b></p>
    </div>
  </body>
</html>